.timeline-chart {
	width: 100%;
	padding: 10px;
	float: left;
	box-sizing: border-box;

	.chart-container {
		.chart-labels {
			border-bottom: 1px solid $gray-light;
			float: left;
		}

		.chart-content-wrapper {
			overflow: scroll;
			float: left;

			.chart-content {
				float: left;
				margin-top: -1px;
			}
		}
	}
}

.time-event {
	fill: $link-color;
	cursor: pointer;
	transition: fill 200ms ease-out;

	&:hover {
		fill: $link-hover-color;
	}
}

.time-label {
	font-size: 12px;
	line-height: 12px;
	fill: gray;
}

.horizontal-rows {
	fill: transparent;

	&:nth-child(even) {
		fill: $gray-lighter;
	}
}

.labels-background {
	fill: transparent;
}

.horizontal-rows-lines {
	fill: $gray-light;
}

.labels-arrows {
	stroke-width: 0;
	fill: $gray-light;
}

.labels-container {
	fill: #fff;
}

.timeline-tooltip {
	rect,
	polygon {
		fill: $link-hover-color
	}

	rect {
		@include box-shadow(0 5px 10px 3px #000);
	}
}
