.timeline-chart {
	padding: 10px;
	float: left;
	box-sizing: border-box;
}

.time-event {
	border-radius: 3px;
	fill: #010101;
	cursor: pointer;
}

.time-label {
	font-size: 12px;
	line-height: 12px;
	background: #000;
	fill: #fff;
}

.horizontal-rows {
	fill: transparent;
	border-bottom: 1px solid gray;

	&:nth-child(odd) {
		fill: darken(#fff, 10);
	}
}

.horizontal-rows-lines {
	fill: darken(#fff, 20);
}

.labels-arrows {
	stroke-width: 0;
}

.labels-container {
	fill: #000;
}
