@value transitionSpeedQuick, transitionSmoothSmoothing, filtersBackgroundColor, filterHeight from '../../../../resources/css/theme/index.css';

.root {
	background: filtersBackgroundColor;
	width: 100%;
	box-sizing: border-box;
	padding: 13px 20px;
}

.link {
	composes: link from '../../../../resources/css/uiKit.css';
}

.switch {
	float: right;
}

.sibebarToggler :global(svg) {
	transform-origin: center;
	transition: transform transitionSpeedQuick transitionSmoothSmoothing;
	transform: rotate(360deg);
}

.sibebarToggler :global(svg):hover {
	transform: rotate(0);
}
