@value filtersBackgroundColor from '../../../../resources/css/theme/index.css';

.root {
	background: filtersBackgroundColor;
	width: 100%;
	box-sizing: border-box;
	padding: 13px 20px;
}

.link {
	composes: link from '../../../../resources/css/uiKit.css';
}

.switch {
	float: right;
}
