@value transitionSpeedMedium, transitionSmoothSmoothing, headerHeight, sidebarWidth from '../../../resources/css/theme/index.css';

.root {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: headerHeight;
	box-sizing: border-box;
	transition: padding-left transitionSpeedMedium transitionSmoothSmoothing;
}

.root.opened {
	padding-left: sidebarWidth;
}
