@value filtersBackgroundColor, globalTextColor, transitionSpeedMedium, transitionSmoothSmoothing, filterHeight, headerHeight, sidebarWidth, sidebarBackgroundColor from '../../../../resources/css/theme/index.css';

.root {
	width: sidebarWidth;
	background: sidebarBackgroundColor;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	box-sizing: border-box;
	padding-top: calc(headerHeight + 20px);
	transition: transform transitionSpeedMedium transitionSmoothSmoothing;
	transform: translateX(calc(sidebarWidth * -1));
}

.root.opened {
	transform: translateX(0);
}

.searchField {
	height: filterHeight;
	position: absolute;
	top: headerHeight;
	left: 0;
	width: 100%;
	height: filterHeight;
	background: sidebarBackgroundColor;
	z-index: 3;
	color: globalTextColor;
}

.searchFieldInput {
	width: 100%;
	height: filterHeight;
	border-radius: 0;
	box-shadow: inset 0 -1px 0 0 filtersBackgroundColor;
}

.searchFieldInput :global(input) {
	border-radius: 0;
	border: 0;
	min-height: filterHeight;
	background: none;
}

.searchFieldInput :global(svg) {
	right: 15px;
}
