@value globalSecondaryTextColor from '../../../../../resources/css/theme/index.css';

.root {
	display: inline-block;
	box-sizing: border-box;
	padding: 16px;
}

.label {
	color: globalSecondaryTextColor;
	margin-right: 10px;
}

.value {
	font-weight: 300;
	font-size: 20px;
}
