
@import 'variables';
@import '../../bower_components/sass-bootstrap/lib/bootstrap';

$body-padding: 20px;
body {
	margin: 0;
	padding: ($navbar-height + $body-padding) $body-padding $body-padding $body-padding;
	@include box-sizing(border-box);
}

img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

$progress-color: $brand-primary;
#nprogress {
	.bar {
		background: $progress-color;
	}

	.peg {
		@include box-shadow(0 0 10px $progress-color, 0 0 5px $progress-color);
	}

	.spinner-icon {	
		border-top-color: $progress-color;
		border-left-color: $progress-color;
	}
}

@import '../../scripts/components/header/header';
@import '../../scripts/components/charts/timeline/timeline';
@import '../../scripts/util/inlineNotification/inlineNotification';
